
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="info-outer-wrap">
			<div class="info-wrap">
				<div class="menu-wrap">
					<div class="footer-title"><a href="">Компания</a></div>
					<ul class="menu">
						<li><a href="">О нас</a></li>
						<li><a href="">Новости</a></li>
						<li><a href="">Статьи</a></li>
						<li><a href="">Политика конфиденциальности</a></li>
						<li><a href="">Контакты</a></li>
					</ul>
				</div>
				<div class="soc-wrap">
					<div class="footer-title"><b>Остались вопросы?</b> Пишите нам!</div>
					<div class="soc-buttons">
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-vb.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-tg.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-wa.svg" alt="">
						</a>
						<a href="" class="btn-action-ico button-soc">
							<img src="./img/icons/soc-email.svg" alt="">
						</a>
					</div>
				</div>
			</div>
			<div class="info-wrap">
				<div class="menu-wrap">
					<div class="footer-title"><a href="">Покупателям</a></div>
					<ul class="menu">
						<li><a href="">Доставка и оплата</a></li>
						<li><a href="">Условия оплаты и возврат денег</a></li>
						<li><a href="">Отзывы о магазине</a></li>
					</ul>
				</div>
				<div class="shedule-wrap">
					<div class="footer-title">График работы</div>
					<p>Пн - Вс: с 10:00 до 20:00</p>
				</div>
			</div>
			<div class="info-wrap">
				<div class="footer-title">Контакты</div>
				<ul class="menu">
					<li><a href="tel:88126034418">+7 (812)603 44 18</a></li>
					<li><a href="tel:88126034419">+7 (812)603 44 19</a></li>
					<li><a href="tel:88126034493">+7 (812)603 44 93</a></li>
				</ul>
				<div class="address-wrap">
					<p>Страна, г.Город, <br>ул. Газвание улицы 7г, ТЦ Название ТЦ</p>
					<p><a href="mailto:info@purolat.com">info@purolat.com</a></p>
				</div>
			</div>
			<div class="info-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo-light.svg" alt="">
					</a>
				</div>
				<div class="copy-wrap">
					<p>Copyright © 2022 Пуролат. <br>All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

<div class="menu-overlay-wrap"></div>


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-login">
	<div class="popup-box popup-login">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Вход</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-form-outer-wrap">
				<div class="popup-form-wrap">
					<form action="/" class="frm-popup">
						<div class="frm-row">
							<div class="frm-field">
								<div class="frm-field-input">
									<div class="frm-ico">
										<img src="./img/icons/frm-email.svg" alt="">
									</div>
									<div class="field-title">E-mail</div>
									<input type="email" class="form-input" placeholder="companyname@mail.com">
								</div>
							</div>
						</div>
						<div class="frm-row">
							<div class="frm-field">
								<div class="frm-field-input">
									<div class="frm-ico">
										<img src="./img/icons/frm-password.svg" alt="">
									</div>
									<div class="field-title">Пароль</div>
									<input type="password" class="form-input" placeholder="" value="companyname">
								</div>
							</div>
						</div>
						<div class="fmr-row row-links">
							<div class="frm-field">
								<div class="frm-select">
									<input type="checkbox" id="popup02">
									<label for="popup02">Запомнить меня</label>
								</div>
							</div>
							<div class="frm-field">
								<a href="">Напомнить пароль</a>
							</div>
						</div>
						<div class="frm-row-submit">
							<div class="frm-field">
								<button type="submit" class="btn">Войти</button>
							</div>
							<div class="frm-field field-link">
								<a href="">Зарегистрироваться</a>
							</div>
						</div>
					</form>
				</div>
				<div class="popup-login-wrap">
					<div class="popup-login-title">Войти как пользователь</div>
					<div class="popup-login-action">
						<a href="" class="btn button-border">
							<span class="button-ico">
								<img src="./img/icons/button-soc01.png" alt="">
							</span>
							<span class="butotn-title">Vkontakte</span>
						</a>
					</div>
					<div class="popup-login-action">
						<a href="" class="btn button-border">
							<span class="button-ico">
								<img src="./img/icons/button-soc02.png" alt="">
							</span>
							<span class="butotn-title">Google</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/popup-outer-box-->
<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-password">
	<div class="popup-box popup-login">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Восстановление пароля</div>
		</div>
		<div class="popup-content-wrap">
			<div class="popup-form-outer-wrap">
				<div class="popup-form-wrap">
					<form action="/" class="frm-popup">
						<div class="frm-row">
							<div class="frm-field">
								<div class="frm-field-input">
									<div class="frm-ico">
										<img src="./img/icons/frm-email.svg" alt="">
									</div>
									<div class="field-title">E-mail</div>
									<input type="email" class="form-input" placeholder="companyname@mail.com">
								</div>
							</div>
						</div>
						<div class="frm-row-submit">
							<div class="frm-field">
								<button type="submit" class="btn">Войти</button>
							</div>
							<div class="frm-field field-link">
								<a href="">Я вспомнил свой пароль</a>
							</div>
						</div>
					</form>
				</div>
				<div class="popup-login-wrap">
					<div class="popup-login-title">Войти как пользователь</div>
					<div class="popup-login-action">
						<a href="" class="btn button-border">
							<span class="button-ico">
								<img src="./img/icons/button-soc01.png" alt="">
							</span>
							<span class="butotn-title">Vkontakte</span>
						</a>
					</div>
					<div class="popup-login-action">
						<a href="" class="btn button-border">
							<span class="button-ico">
								<img src="./img/icons/button-soc02.png" alt="">
							</span>
							<span class="butotn-title">Google</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-card">
	<div class="popup-box popup-card">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<!--card-box-->
			<div class="card-box">
				<div class="info-outer-wrap">
					<div class="title-inner-wrap">
						<div class="title-main-wrap">
							<h1 class="h1-title">БОЛТ DIN 444 M 8X 60 НЕРЖ A2 / ~ ГОСТ 3033-79 (10)</h1>
						</div>
						<div class="title-info-wrap">
							<div class="title-art-wrap">Арт. 000840040012002</div>
							<div class="title-stock-wrap">
								<div class="elm-stock stock-icon">В наличии</div>
								<a href="" class="btn-action-ico ico-fav button-cat js-btn-tgl"></a>
							</div>
						</div>
					</div>
					<div class="info-inner-wrap">
						<div class="info-features-wrap">
							<p><b>На складе:</b> 900 шт..</p>
							<p><b>Вес 1 шт.:</b> 0.04 г.</p>
							<p><b>Кол-во в упаковке:</b> 100 шт.</p>
							<p><b>Диаметр:</b> 1.2 мм.</p>
							<p><b>Длина:</b> 2 мм.</p>
							<p><b>Материал:</b> Сталь (Steel).</p>
						</div>
						<div class="info-second-wrap">
							<div class="info-price-wrap">
								<div class="price-wrap">
									<div class="elm-price">16,16 ₽</div>
								</div>
								<div class="counter-wrap">
									<div class="frm-field-counter js-counter">
										<a href="" class="btn-plus js-button-counter-plus"></a>
										<a href="" class="btn-minus js-button-counter-minus"></a>
										<input type="text" class="js-input-counter form-input" value="1">
									</div>
								</div>
							</div>
							<div class="info-actions-wrap">
								<div class="action-wrap">
									<a href="" class="btn button-border">Быстрый заказ</a>
								</div>
								<div class="action-wrap">
									<a href="" class="btn button-cart">
											<span class="button-ico">
												<img src="./img/icons/cart.svg" alt="">
											</span>
										<span class="button-title">в корзину</span>
									</a>
								</div>
							</div>
							<div class="info-stock-wrap">
								<div class="stock-action-wrap">
									<a href="" class="btn button-clear button-third">
										<span class="button-title">Посмотреть аналоги</span>
									</a>
								</div>
								<div class="stock-action-wrap">
									<a href="" class="btn button-third button-notify">
										<span class="button-title">Сообщить о поступлении</span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="total-inner-wrap">
						<div class="total-calc-wrap">
							<div class="total-calc-title">Введите вес в кг:</div>
							<div class="total-calc-input">
								<input type="text" class="form-input" value="9999">
							</div>
							<div class="total-calc-link">
								<button class="btn button-third button-clear">Рассчитать</button>
							</div>
						</div>
						<div class="total-summ-wrap">
							<div class="total-summ-title">Количество:</div>
							<div class="total-summ-value">500 000 шт.</div>
						</div>
					</div>
				</div>
				<div class="photo-outer-wrap">
					<div class="items-inner-wrap">
						<div class="items-wrap">
							<div class="item-wrap">
								<div class="item-tile-feature">
									<div class="tile-title-wrap">
										<div class="tile-title">DIN / ГОСТ / ISO	</div>
									</div>
									<div class="tile-info-wrap">
										<div class="tile-info">444</div>
									</div>
								</div>
							</div>
							<div class="item-wrap">
								<div class="item-tile-feature">
									<div class="tile-title-wrap">
										<div class="tile-title">Материал изделия:</div>
									</div>
									<div class="tile-info-wrap">
										<div class="tile-info">Нерж. Сталь (SS)</div>
									</div>
								</div>
							</div>
							<div class="item-wrap">
								<div class="item-tile-feature">
									<div class="tile-title-wrap">
										<div class="tile-title">Кл.пр./ Характеристика:</div>
									</div>
									<div class="tile-info-wrap">
										<div class="tile-info">A2</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="photo-inner-wrap">
						<a href="" class="elm-photo photo-contain">
							<img src="./img/card.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
			<!--/card-box-->
		</div>
	</div>
</div>
<!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-order">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Быстрый заказ</div>
			<p>Укажите телефон или e-mail, и наш менеджер свяжется с вами для уточнения деталей заказа.</p>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup">
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="frm-ico">
								<img src="./img/icons/frm-user.svg" alt="">
							</div>
							<div class="field-title">Фио</div>
							<input type="text" class="form-input" placeholder="Иван Иванович">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="frm-ico">
								<img src="./img/icons/frm-phone.svg" alt="">
							</div>
							<div class="field-title">Телефон</div>
							<input type="tel" class="form-input" placeholder="+ 123-456-7890">
						</div>
					</div>
				</div>
				<div class="frm-row">
					<div class="frm-field">
						<div class="frm-field-input">
							<div class="frm-ico">
								<img src="./img/icons/frm-email.svg" alt="">
							</div>
							<div class="field-title">E-mail</div>
							<input type="email" class="form-input" placeholder="companyname@mail.com">
						</div>
					</div>
				</div>
				<div class="frm-row row-text">
					<div class="frm-field">
						<div class="frm-field-input">
							<textarea class="form-input" placeholder="Дополнительная информация"></textarea>
						</div>
					</div>
				</div>
				<div class="frm-row-submit">
					<div class="frm-field">
						<div class="frm-select">
							<input type="checkbox" id="popup01">
							<label for="popup01">Я ознакомился и принимаю <a href="">Пользовательское соглашение</a></label>
						</div>
					</div>
					<div class="frm-field">
						<button type="submit" class="btn">Отправить заявку</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-order-succefull">
	<div class="popup-box popup-succefull">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<div class="popup-succefull-wrap">
				<div class="elm-ico">
					<img src="./img/icons/check-main.svg" alt="">
				</div>
				<div class="popup-title">Спасибо! Ваша заявка принята</div>
				<p>Мы свяжемся с Вами в самое ближайшее время!</p>
			</div>
		</div>
	</div>
</div>
<!--/popup-outer-box-->