
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="main-panel-wrap">
			<div class="panel-inner-wrap">
				<div class="location-wrap">
					<a href="" class="btn-action-icon button-location">
						<span class="button-title">Санкт-Петербург</span>
					</a>
				</div>
				<div class="menu-wrap">
					<div class="popup-menu-wrap page-menu-wrap js-popup-wrap">
						<a href="" class="btn button-second btn-action-ico ico-menu btn-popup js-btn-toggle"></a>
						<div class="popup-content-block js-popup-block">
							<div class="popup-menu-wrap">
								<ul class="menu">
									<li>
										<a href="">О компании</a>
										<ul>
											<li><a href="">Пункт подменю</a></li>
											<li><a href="">Пункт подменю</a></li>
											<li><a href="">Пункт подменю</a></li>
											<li><a href="">Пункт подменю</a></li>
										</ul>
									</li>
									<li>
										<a href="">Доставка и оплата</a>
										<ul>
											<li><a href="">Пункт подменю</a></li>
											<li><a href="">Пункт подменю</a></li>
											<li><a href="">Пункт подменю</a></li>
											<li><a href="">Пункт подменю</a></li>
										</ul>
									</li>
									<li><a href="">Оплата и статус заказа</a></li>
									<li><a href="">Контакты</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vb.png" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-tg.png" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-wa.png" alt="">
					</a>
				</div>
				<div class="login-wrap">
					<a href="" class="btn-action-icon button-dark button-user">
						<span class="button-title">Вход / Регистрация</span>
					</a>
				</div>
			</div>
			<div class="contacts-inner-wrap">
				<div class="cnt-mobile">
					<a href="tel:88126034418" class="btn button-light btn-action-ico ico-phone">+7 (812) 603 44 18</a>
				</div>
				<div class="cnt-wrap">
					<a href="tel:88126034418" class="btn-action-icon button-phone button-dark">+7 (812) 603 44 18</a>
				</div>
				<div class="cnt-wrap">
					<a href="tel:88126034419" class="btn-action-icon button-phone button-dark">+7 (812)603 44 19</a>
				</div>
				<div class="cnt-wrap">
					<a href="tel:88126034493" class="btn-action-icon button-phone button-dark">+7 (812)603 44 93</a>
				</div>
				<div class="cnt-wrap">
					<a href="mailto:info@purolat.com" class="btn-action-icon button-email button-dark">info@purolat.com</a>
				</div>
			</div>
		</div>
		<div class="actions-panel-wrap">
			<div class="catalog-wrap popup-catalog-wrap page-menu-wrap js-popup-wrap">
				<a href="" class="btn button-second btn-popup js-btn-toggle">Каталог</a>
				<div class="popup-content-block js-popup-block">
					<ul class="menu">
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu01.svg" alt="">
								</span>
								<span class="button-title">Анкера</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Анкера</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu02.svg" alt="">
								</span>
								<span class="button-title">Болты</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Болты</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu03.svg" alt="">
								</span>
								<span class="button-title">Винты</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Винты</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu04.svg" alt="">
								</span>
								<span class="button-title">Гайки</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Гайки</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu05.svg" alt="">
								</span>
								<span class="button-title">Заклепки</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Заклепки</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu06.svg" alt="">
								</span>
								<span class="button-title">Крюки, кольца, с метрической резьбой</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Крюки, кольца, с метрической резьбой</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu07.svg" alt="">
								</span>
								<span class="button-title">Пресс-масленки</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Пресс-масленки</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu08.svg" alt="">
								</span>
								<span class="button-title">Пробки, Разное</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Пробки, Разное</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu09.svg" alt="">
								</span>
								<span class="button-title">Пружины тарельчатые</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Пружины тарельчатые</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu10.svg" alt="">
								</span>
								<span class="button-title">Саморезы</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Саморезы</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu11.svg" alt="">
								</span>
								<span class="button-title">Стопорные кольца</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Стопорные кольца</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu12.svg" alt="">
								</span>
								<span class="button-title">Такелаж</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Такелаж</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu13.svg" alt="">
								</span>
								<span class="button-title">Шайбы</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Шайбы</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu14.svg" alt="">
								</span>
								<span class="button-title">Шплинты</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Шплинты</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu15.svg" alt="">
								</span>
								<span class="button-title">Шпонки</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Шпонки</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu16.svg" alt="">
								</span>
								<span class="button-title">Штанги, шпильки</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Штанги, шпильки</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
						<!--menu row-->
						<li>
							<a href="" class="btn-action-menu">
								<span class="button-ico">
									<img src="./img/icons/menu17.svg" alt="">
								</span>
								<span class="button-title">Штифты</span>
							</a>
							<ul class="submenu-outer-wrap">
								<li class="submenu-inner-wrap">
									<div class="submenu-title"><a href="" class="">Штифты</a></div>
									<ul>
										<li>
											<ul>
												<li><a href="">DIN 660 / ГОСТ 10299-80</a></li>
												<li><a href="">DIN 661 / ГОСТ 10300-80</a></li>
												<li><a href="">DIN 7338</a></li>
												<li><a href="">ГОСТ 10303-80</a></li>
											</ul>
										</li>
										<li>
											<a href="">DIN 7337 вытяжная</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
											</ul>
										</li>
										<li>
											<a href="">Заклепка гайка</a>
											<ul>
												<li><a href="">Плоский бортик</a></li>
												<li><a href="">Потайной бортик</a></li>
												<li><a href="">Потайной уменьшенный бортик</a></li>
											</ul>
										</li>
										<li><a href="">Акции</a></li>
										<li><a href="">Предложения</a></li>
										<li><a href="">Уцененные товары</a></li>
										<li><a href="">Некондиция</a></li>
										<li><a href="">Расспродажа</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<!--/menu row-->
					</ul>
				</div>
			</div>
			<div class="search-wrap popup-search-wrap js-popup-wrap">
				<a href="" class="btn-popup btn button-second btn-action-ico ico-search js-btn-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<form action="/" class="frm-main-search">
						<input type="text" class="form-input" placeholder="Винт DIN 84">
						<button type="submit" class="btn button-second  btn-action-ico ico-search"></button>
					</form>
				</div>
			</div>
			<div class="cart-wrap">
				<a href="" class="btn button-light">
					<span class="button-ico">
						<img src="./img/icons/cart.svg" alt="">
					</span>
					<span class="button-title">
						<span class="button-title-main">Товаров х3</span>
						<span class="button-title-info">На сумму : 3 549 ₽</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</header>
<!-- /header -->